<%- include('partials/header') %>
<div class="container-fluid">
    <div>
        <h1><%= game['gamename'] %></h1>
    </div>
    <div>
        <h2>Developer: <%= game['Developer'] %></h2>
        <h2>Publisher: <%= game['Publisher'] %></h2>
    </div>
    <div>
        <h3>Quality:</h3>
    </div>
</div>
<%- include("partials/footer") %>