<%- include('../partials/header') %>
<div class="grid d-flex justify-content-center border-top border-primary">
    <form action="/developer/<%= info['dev_id'] %>?_method=PUT" method="POST">
       <div class="row">
         <h3> Edit: <%= info['dev_name'] %></h3>
       </div>
       <div class="row">
          <div class="col-5">
             <div class="row">
               <label>Developer:</label>
             </div>
             <div class="row">
               <label>Year Established</label>
             </div>
          </div>
          <div class="col-7">
             <div class="row">
               <input type="text" name="devname" required value="<%= info['dev_name'] %>" required>
             </div>
             <div class="row">
               <input type="text" name="est" pattern="\d.{0,4}" title="0 or 4 digit" value=<%= info['year_established'] %>>
             </div>
          </div>
       </div>
       <div class="row d-flex justify-content-center">
          <button>Submit</button>
       </div>
    </form>
</div>
<%- include("../partials/footer") %>