<%- include('../partials/header') %>
<div class="grid d-flex justify-content-center border-top border-primary">
    <form action="/game/<%= game['gameid'] %>?_method=PUT" method="POST">
       <div class="row">
         <h3> Edit: <%= game['gamename'] %></h3>
       </div>
       <div class="row">
          <div class="col-5">
             <div class="row">
               <label>Game:</label>
             </div>
             <div class="row">
               <label>Developer</label>
             </div>
             <div class="row">
               <label>Publisher</label>
             </div>
             <div class="row">
               <label>Quality Rating</label>
             </div>
             <div class="row">
               <label>Maturity Rating</label>
             </div>
             <div class="row">
               <label>Image URL</label>
             </div>
          </div>
          <div class="col-7">
             <div class="row">
               <input type="text" name="gamename" value="<%= game['gamename'] %>" required>
             </div>
             <div class="row">
               <input type="text" name="dev" value="<%= game['Developer'] %>" required>
             </div>
             <div class="row">
               <input type="text" name="pub" value="<%= game['Publisher'] %>" required>
             </div>
             <div class="row">
               <input type="text" name="quality" value="<%= game['Quality'] %>">
             </div>
             <div class="row">
               <input type="text" name="maturity" value="<%= game['Maturity'] %>">
             </div>
             <div class="row">
               <input type="text" name="image" value="<%= game['image'] %>">
             </div>
          </div>
       </div>
       <div class="row d-flex justify-content-center">
          <button>Submit</button>
       </div>
    </form>
</div>
<%- include("../partials/footer") %>
