<%- include('../partials/header') %>
    <div class="container-fluid">
        <form action="/game" method="POST">
            <div>
                <input type="text" name="gamename" placeholder="Game" class="form-control input-css">
                <select class="selectpicker" class="form-control" required data-live-search="true" name="genre" >
                    <option value="all" selected>Genre</option>
                    <% for (var i=0; i<genres.length; i++) { %>
                        <option value="<%= genres[i]['genre_name'] %>"><%= genres[i]['genre_name'] %></option>
                    <% } %>
                </select>
                <select class="selectpicker" class="form-control" required data-live-search="true" name="platform">
                    <option value="all" selected>Platform</option>
                    <% for (var i=0; i<platforms.length; i++) { %>
                       <option value="<%= platforms[i]['platform_name'] %>"><%= platforms[i]['platform_name'] %></option>
                    <% } %>
                 </select>
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
        <table style="width:100%">
            <tr>
                <th>Game</th>
                <th>Quality</th>
                <th>Maturity</th>
                <th>Developer</th>
                <th>Publisher</th>
            </tr>
        <% if (games.length > 0) { %>
            <% for(var i=0; i<games.length; i++) { %>
                <tr class="table_work">
                    <td><a href="/game/<%= games[i]['game_id'] %>"><%= games[i]['Game'] %></a></td>
                    <td><%= games[i]['Quality'] %></td>
                    <td><%= games[i]['Maturity'] %></td>
                    <td><%= games[i]['Developer'] %></td>
                    <td><%= games[i]['Publisher'] %></td>
                </tr>
            <% } %>
        <% } %>
        </table>
        <% if (games.length == 0) { %>
            <div>
                <h1 style="text-align: center;">NO GAME FOUND</h1>
            </div>
        <% } %>
    </div>
     
<%- include("../partials/footer") %>