<%- include('../partials/header') %>
 <div class="container d-flex justify-content-center">   
    <div class="col">
      <div class="row">
        <div class="col-2">
          <div><button class="btn btn-primary"><a href="/game/<%= game['gameid'] %>/edit" class="text-light">EDIT</a></button></div>
          <form action="/game/<%= game['gameid'] %>?_method=DELETE" method="POST">
             <button class="btn btn-danger">Delete</button>
          </form>
       </div>
       <div class="col-10">
          <h1><%= game['gamename'] %></h1>
       </div> 
    <div class="row">
       <div class="col-7">
          <div class="row">
             <div>
                <img id="GAMEPIC" src=<%= game['image'] %>>
             </div>
          </div>
          <div class="row">
             <% if (game['Maturity'] == 'E'){%>
                <img id="ICON" src="https://pbs.twimg.com/media/C3CaVvEVEAE4MTe.png">
             <% } %>
             <% if (game['Maturity'] == 'T'){%>
                <img id="ICON" src="http://www.dadislearning.com/wp-content/uploads/2013/09/t-for-teen.png">
             <% } %>      
             <% if (game['Maturity'] == 'M'){%>
                <img id="ICON" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/ESRB_2013_Mature.svg/443px-ESRB_2013_Mature.svg.png">
             <% } %>
             <% if (game['Maturity'] == 'N/A'){%>
                <img id="ICON" src="https://www.tidewatergames.com/image/catalog/ratings/nr-rating.png">
             <% } %>
         </div> 
       </div>
       <div class="col-5">
          <div class="row">
                <h2>Developer:</h2>
                <h2> <%= game['Developer'] %></h2>
          </div>
          <div class="row">
                <h2>Publisher:</h2>
                <h2> <%= game['Publisher'] %></h3>
          </div>
          <div class="row">
                <h2>Quality:</h2>
                <h3><%= game['Quality'] %></h3>
          </div>
          <div class="row">
             <div class="col-7">
                <ul style="list-group">
                      Platforms:
                      <% for (var i=0; i < game['platforms'].length; i++) { %>
                         <li class="list-group-item"><%= game['platforms'][i] %></li>
                      <% } %>
                   </ul>
             </div>
             <div class="col-5">
                   <ul class="list-group">
                     Genres:
                     <% for (var i=0; i < game['genres'].length; i++) { %>
                         <li class="list-group-item"><%= game['genres'][i] %></li>
                     <% } %>
                   </ul>
             </div>
          </div>
       </div>
    </div>
 </div>

 <%- include("../partials/footer") %>